{% extends "layout.html" %}
{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="content">
    <div class="blog-post">
        <h4>Mission</h4>
        <hr>
        <p>Empowering fresh graduates with a streamlined platform that connects them to enriching fellowships, volunteer
            work, and internships, fostering their professional development and enabling meaningful contriburions to
            society.</p>
        <hr>
        <h4>Vision</h4>
        <hr>
        <p>To be the premier conduit between academia and the professional sphere ensuring every graduate can acquire
            practical experience, sharpen their skills, and realize their career dreams.</p>
        <hr>
        <h4>Our Story</h4>
        <hr>
        <p>The inception of GradConn was driven by our shared recognition of a significant gap in the transition from
            academic life to the professional world. As recent graduates ourselves, we experienced the firsthand the
            challenges of finding meaningful opportunities that aligned with our passions and career goals. We saw many
            individuals struggling to navigate this crucial phase and decided to create a solution. With diverse
            backgrounds in technology, design, and education, we came together with a common goal to create a platform
            that simplifies the job search process and provide graduates with opportunities to grow and make an impact.
            Our journey has been fueled by a commitment to helping others succeed, and we continue to innovate and
            improve our platform to better serve the needs of fresh graduates as close as it can be.</p>
        <hr>
    </div>
</div>
{% endblock %}