{% extends "layout.html" %}

{% block title %}
Home - GradConnect
{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <h1>GradConnect</h1>
        <div class="content">
            <p
                style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                Connecting graduates with exciting opportunities.</p><br>
            <p
                style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                A platform designed to help graduates find
                their dream jobs and connect with potential
                employers.</p>
        </div>
        <div class="buttons">
            <a href="{{ url_for('signin') }}" class="btn btn-primary">Get Started</a>
            <a href="{{ url_for('admin_signin') }}" class="btn btn-outline-primary">I'm Hiring</a>
        </div>
    </div>
</section>
{% endblock %}