{% extends "layout.html" %}
{% block title %}
Update Blog
{% endblock %}

{% block content %}
<hr>
<div class="card-wrapper">
    <div class="card">
        <h5>Create Blog</h5>
        <hr>
        <form method="post">
            <div class="field">
                <b><label for="title">Title</label></b>
                <input type="text" name="title" value="{{ all_blogs['title'] }}" class="field-input">
            </div>
            <div class="field">
                <b><label for="content">Content</label></b>
                <textarea id="message" cols="60" rows="10" name="content" class="input-field"
                    required>{{ all_blogs['content'] }}</textarea>
            </div>
            <div class="center">
                <button type="submit" class="btn btn-outline-primary">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}