{% extends "layout.html" %}
{% block title %}
Update Blog
{% endblock %}

{% block content %}
<hr style="margin: 20px 0;
border: 0;
border-top: 1px solid #ccc;">
<div class="card-wrapper" style="width: 100%;
max-width: 600px;
margin: 20px auto;">
    <div class="card" style="background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;">
        <h5>Update Blog</h5>
        <hr style="margin: 20px 0;
        border: 0;
        border-top: 1px solid #ccc;">
        <form method="post">
            <div class="field" style="margin-bottom: 15px;">
                <b><label for="title">Title</label></b>
                <input type="text" class="field-input" style="width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-top: 5px;
                box-sizing: border-box;" name="title" value="{{ all_blogs['title'] }}">
            </div>
            <div class="field" style="margin-bottom: 15px;">
                <b><label for="content">Content</label></b>
                <textarea id="message" cols="60" rows="10" name="content" class="input-field" style="width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-top: 5px;
                box-sizing: border-box;" required>{{ all_blogs['content'] }}</textarea>
            </div>
            <div class="center" style="text-align: center;">
                <button type="submit" class="btn btn-outline-primary">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}